<footer class="bg-primary text-light py-4 mt-5">
    <div class="container text-center">
      <!-- Footer Title -->
      <h5 class="mb-3">RainScanner Project</h5>

      <!-- Links -->
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="" class="text-light text-decoration-none">이용 약관</a>
        </li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item">
          <a href="" class="text-light text-decoration-none">개인정보 보호정책</a>
        </li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item">
          <a href="" class="text-light text-decoration-none">문의하기</a>
        </li>
      </ul>

      <!-- Copyright -->
      <p class="mt-3 mb-0">
        &copy; 2025 RainScanner. All rights reserved.
      </p>
    </div>
  </footer>